@font-face {
    font-family: "RO Sans";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RO-SansWebText-Regular.woff2") format("woff2"), url("../fonts/RO-SansWebText-Regular.woff") format("woff")
}

@font-face {
    font-family: "RO Sans";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/RO-SansWebText-Italic.woff2") format("woff2"), url("../fonts/RO-SansWebText-Italic.woff") format("woff")
}

@font-face {
    font-family: "RO Sans";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/RO-SansWebText-Bold.woff2") format("woff2"), url("../fonts/RO-SansWebText-Bold.woff") format("woff")
}

@font-face {
    font-family: "RO Serif";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RO-SerifWeb-Regular.woff2") format("woff2"), url("../fonts/RO-SerifWeb-Regular.woff") format("woff")
}

@font-face {
    font-family: "RO Serif";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/RO-SerifWeb-Italic.woff2") format("woff2"), url("../fonts/RO-SerifWeb-Italic.woff") format("woff")
}

@font-face {
    font-family: "RijksSans";
    font-style: normal;
    font-weight: 200 800;
    src: url("../fonts/rijks-sans-regular.woff2") format("woff2")
}

@font-face {
    font-family: "RijksSans";
    font-style: italic;
    font-weight: 200 800;
    src: url("../fonts/rijks-sans-italic.woff2") format("woff2")
}

:root {
    --font-family: RO Sans, Calibri, Arial, Verdana, sans-serif;
    --hemelblauw: #007bc7;
    --achtergrond: #f3f4f6;
    --grijs-1: #f3f3f3;
    --grijs-2: #e6e6e6;
    --grijs-3: #cccccc;
    --grijs-4: #b4b4b4;
    --grijs-5: #999999;
    --grijs-6: #696969;
    --grijs-7: #535353;
}

body {
    font-family: var(--font-family);
}

.button {
    border-radius: var(--radius-md);
    padding: 4px 7pt 4px 7pt;
    align-items: center;
    font-weight: 500;
}

.button.selected {
    background-color: #fdfdfc;
    font-weight: bold;
}

.button:hover {
    background-color: var(--color-gray-100);
}

.button.selected:hover {
    background-color: #fdfdfc;
}

.widget-menu {
    background-color: var(--color-gray-200);
    background-image: url("../images/ellipsis-01.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px;
    width: 50px;
    border-radius: var(--radius-md);
    float: right;
    overflow: visible;
    cursor: pointer;
}

.widget-menu:hover, .widget-menu:focus {
    background-color: var(--color-gray-100);
}

.widget-menu:active {
    background-color: var(--color-gray-200);
}

.widget-menu:target {
    background-color: var(--color-gray-200);
}

.widget-menu > ol {
    margin-top: 28px;
    background: #ededec;
    border-radius: var(--radius-md);
    border-color: var(--color-gray-200);
    border-width: 1px;
    width: fit-content;
    z-index: 20;
    position: relative;
    float: right;
    padding: 2pt;
    flex-direction: column;
    display: none;
    gap: 2pt;
    cursor: default;
}

.widget-menu:focus > ol, .widget-menu:focus-within > ol {
    display: flex;
}

.widget-menu > ol > li {
    width: 150px;
    display: block;
    background-color: #fdfdfd;
    border-radius: var(--radius-md);
    padding-left: 2pt;
    cursor: pointer;
    font-weight: 450;
}

.widget-menu > ol > li:hover {
    background-color: var(--color-gray-100);
}

.widget-menu > ol > li:active {
    background-color: var(--color-gray-200);
}

form > input {
    display: block;
}

th {
    text-align: left;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--hemelblauw);
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
